.iphone12 {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iphone12 > h2 {
  color: #1d1d1f;
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.009em;
  margin-top: 100px;
  margin-bottom: 10px;
}

.iphone12__tagline {
  color: #1d1d1f;
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.003em;
}

.iphone12__description {
  color: #1d1d1f;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: 0.011em;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.iphone12__shopbutton {
  background-color: #0071e3;
  border: none;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 18px;
  color: #f5f5f7;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
}

.iphone12__shopbutton:hover {
  background-color: #2997ff;
  cursor: pointer;
}

.iphone12 > span {
  color: #06c;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: 0.011em;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 50px;
}

.iphone12 > span:hover {
  text-decoration: underline;
}

.iphone12__save {
  color: #1d1d1f;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
  padding-top: 80px;
}

.iphone12__preorderTitle {
  color: #1d1d1f;
  font-size: 24px;
  line-height: 1.33341;
  font-weight: 600;
  letter-spacing: 0.009em;
  margin-top: 35px;
  text-align: center;
}

.iphone12__preorderDate {
  color: #86868b;
  font-size: 24px;
  line-height: 1.33341;
  font-weight: 400;
  letter-spacing: 0.009em;
  text-align: center;
}

.iphone12__preorderAvail {
  color: #86868b;
  font-size: 24px;
  line-height: 1.33341;
  font-weight: 400;
  letter-spacing: 0.009em;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 100px;
}

.iphone12__imageDesktop {
  width: 694px;
  height: 647px;
  background-size: 694px 647px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .iphone12 > h2 {
    margin-top: 50px;
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 600;
    letter-spacing: 0.012em;
  }
  .iphone12__tagline {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
  }
  .iphone12__description {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
  }
  .iphone12 > span {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
  }
  .iphone12__imageDesktop {
    display: none;
  }
  .iphone12__imageMob {
    width: 302px;
    height: 282px;
    background-size: 302px 282px;
    background-repeat: no-repeat;
  }
  .iphone12__save {
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: 0.007em;
    padding-top: 50px;
  }
  .iphone12__preorderTitle {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 600;
    letter-spacing: 0.012em;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .iphone12__preorderDate {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0.012em;
  }
  .iphone12__preorderAvail {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0.012em;
    margin-top: 15px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 767px) {
  .iphone12__imageMob {
    display: none;
  }
}
